.img11{
    width: 100px;
    /* object-fit: cover; */
    }
    .profile{
        display: flex;
        justify-content: center;
        max-width: 600px;
        margin: 10px auto; 
    }
    .profile-frame{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .profile-data{
        margin-left: 20px;
    }
    .profile-pic>img{
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 100px;
    }
    /* .profile-data{
        text-align: left;
    } */
    .profile-info p{
        padding: 0px 5px;
    }
    .gallery{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    /* .gallery img{
        width: 19%;
        height: 10%;
        border-radius: 18px;
    } */
    .followbtn{
        color: black;
        font-size: larger;
    }